<body>
    <nav class="nav-bar">
        <div class="title-name">
            <h4>
            music blog
            </h4>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/" class="nav-item-desk">home</a>
            </li>
            <li>
                <a href="/blogs" class="nav-item-desk">blogs</a>
            </li>
            <li>
                <a href="/contact" class="nav-item-desk">contact</a>
            </li>
        </ul>
    </nav>
</body>

