<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emily's music blog</title>
    <link rel="stylesheet" href="./style/style.css">
    <script src="./app.js"> rel="stylesheet"</script>
</head>
<body>
    {% include 'nav.njk' %}
    <header class="header">
        <div class="header-navbar"></div>
        <div class="header-container">
            <h1 class="header-title"></h1>
        </div>
        <div class="section-container">
            <img src="/project/music.svg" alt="lady listening to music">
        </div>
    </header>
<script src="../js/app.js"> rel=""</script>
</body>
</html>

