html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #59735C;
}

.article {
    display: grid;
}

.card {
    text-align: center;
    padding: 4rem;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.7);
    border-radius: 2.2rem;
    margin: 2.5rem 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    flex: 0 1 22%;
}

.article-link:visited {
    color: rgb(58, 15, 68);
}


.article-link:active {
    color: rgb(109, 64, 119);
}

.article-link:hover {
    color: rgb(2, 3, 2);
}

.article-link {
    font-size: 1.5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E402D;
}

li {
    float: left;
}
  
li a {
    background-color: #2E402D;
    display: block;
    color: white;
    text-align: center;
    padding: 2rem 3.5rem;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(5, 29, 17);
}

a {
    font-size: 2rem;
}

