html, body, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #ffffff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(191, 224, 198);
    font-family: 'Nanum Gothic', sans-serif;
}


