html,
body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  /* basics */
    --black: black;
    --white: white;
  /* theme bloo */
    --nav-blue: rgb(138, 139, 138);
    --bg-blue: rgb(57, 57, 57);
    --card-blue: rgb(57, 68, 79);
    --text-blue: rgb(228, 228, 228);
  /* theme griin */
    --nav-green: rgb(124, 151, 131);
    --bg-green: rgb(43, 51, 43);
    --card-green: rgb(106, 106, 106);
    --text-green: rgb(228, 228, 228);
  
    --primary: var(--nav-blue);
    --secondary: var(--bg-blue);
    --third: var(--card-blue);
  }
  .blue-theme {
    /* basics */
    --black: black;
    --white: white;
    /* theme bloo */
  --primary: var(--nav-blue);
  --secondary: var(--bg-blue);
  --third: var(--card-blue);
  }
  .green-theme {
    /* basics */
    --black: black;
    --white: white;
  /* theme griin */
  --primary: var(--nav-green);
  --secondary: var(--bg-green);
  --third: var(--card-green);
  }

  .toggleTheme {
    display: flex;
    padding: 0.5rem;
    border-radius:0.5rem; 
    background-color: rgb(114, 87, 224);
    margin-right: 2rem;
  }
  
  .toggleTheme:hover {
      color: #111;
      background: #b868e7;
      box-shadow: 0 0 50px #612a8d;
  }
    

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: var(--primary);
  font-family: "Nanum Gothic", sans-serif;
}

.title-name {
  color: rgb(228, 228, 228);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-transform: uppercase;
  list-style-type: none;
}

.navlinks a {
  color: rgb(228, 228, 228);
  text-decoration: none;
  letter-spacing: 1.5px;
  display: block;
}

.navlinks a:hover {
  color: rgb(66, 65, 82);
}

.toggle-button {
  position: absolute;
  top: 1.65rem;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .toggle-button {
    display: flex;
  }
  .navlinks {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding-top: 1.5rem;
  }
  ul {
    width: 100%;
    flex-direction: column;
  }
  li {
    text-align: center;
  }
  li a {
    padding: 2.5rem;
  }
  .navlinks.active {
    display: flex;
  }
  .toggleTheme {
    display: none;
  }
}


@media (max-width: 360px) {
  .navbar {
  align-items: flex-start;
  }
}
  
@media (max-width: 290px) {
  .title-name {
    display: none;
  }
}

a {
    color: rgb(202, 202, 202);
    font-size: 1.25rem;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }