html,
body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}


:root {
/* basics */
  --black: black;
  --white: white;
/* theme bloo */
  --nav-blue: rgb(138, 139, 138);
  --bg-blue: rgb(57, 57, 57);
  --card-blue: rgb(57, 68, 79);
  --text-blue: rgb(228, 228, 228);
/* theme griin */
  --nav-green: rgb(159, 184, 165);
  --bg-green: rgb(43, 51, 43);
  --card-green: rgb(73, 73, 73);
  --text-green: rgb(228, 228, 228);
}
.blue-theme {
  /* basics */
  --black: black;
  --white: white;
  /* theme bloo */
  --nav-blue: rgb(138, 139, 138);
  --bg-blue: rgb(57, 57, 57);
  --card-blue: rgb(57, 68, 79);
  --text-blue: rgb(228, 228, 228);
}
.green-theme {
  /* basics */
  --black: black;
  --white: white;
/* theme griin */
  --nav-green: rgb(159, 184, 165);
  --bg-green: rgb(43, 51, 43);
  --card-green: rgb(73, 73, 73);
  --text-green: rgb(228, 228, 228);
}



.navbar {
  background-color: var(--nav-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: "Nanum Gothic", sans-serif;
}

.title-name {
  color: var(--text-blue);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
  text-transform: uppercase;
  list-style-type: none;
}

.navlinks a {
  color: var(--text-blue);
  text-decoration: none;
  letter-spacing: 1.5px;
  display: block;
}

.navlinks a:hover {
  color: rgb(66, 65, 82);
}

.toggle-button {
  position: absolute;
  top: 1.65rem;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-blue);
}

.card {
  text-align: center;
  flex: 2 4 auto%;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 3rem;
  box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.7);
  border-radius: 2.2rem;
  height: 34rem;
  background-color: var(--card-blue);
}

img {
  border-radius: 2.2rem;
  padding: 1.4rem;
  height: 19rem;
  width: 19rem;
}

h3 {
  font-family: 'Nanum Gothic', sans-serif;
  text-shadow: 3px 3px #1e2933;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(168, 175, 177);
  font-size: 1.75rem;
}

.card-header {
  padding: 0.5rem;
}

a {
  color: rgb(202, 202, 202);
  font-size: 1.25rem;
  font-family: 'Nanum Gothic', sans-serif;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

a:hover {
  color: rgb(157, 157, 159);
}

.article-link:visited {
  color: cadetblue;
}

.article-link {
  padding: 1.75rem;
}

.mode {
  height: 32px;
  width: 32px;
}

@media (max-width: 650px) {
  .toggle-button {
    display: flex;
  }
  .navlinks {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 8vh;
    padding-top: 1.5rem;
  }
  ul {
    width: 100%;
    flex-direction: column;
  }
  li {
    text-align: center;
  }
  li a {
    padding: 2.5rem;
  }
  .navlinks.active {
    display: flex;
  }
}

@media (max-width: 360px) {
  .navbar {
  align-items: flex-start;
  }
}
  
@media (max-width: 290px) {
  .title-name {
    display: none;
  }
}